.details-name {
  font-weight: 700;
}
.plus-minus {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2%;
  height: 30px;
  background-color: rgba(218, 215, 215, 0.466);
}
.plus-minus span {
  margin: 0 5%;
}
.plus-minus button {
  margin: 0 1%;
  border: none;
  width: 40px;
  height: 100%;
  background-color: none;
}
