.shop-h1 {
  background-image: url("../../img//breadcrumb.jpg");
  background-repeat: none;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 2%;
}
.filter-keyword form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-keyword input {
  width: 80%;
  border: none;
  outline: none;
  padding-left: 2%;
}
.filter-keyword button {
  width: 20%;
  border: none;
}
.activekeyword {
  background-color: rgb(45, 184, 45);
  color: white;
}

.filter-catagories button {
  border: none;
  margin: 0 2% 2% 0;
  padding: 0.5% 3%;
  border-radius: 5px;
}
.shopcatactive {
  background-color: rgb(45, 184, 45);
  color: white;
}
.filter-price input {
  width: 50px;
  height: 25px;
  outline: none;
  margin-bottom: 2%;
  padding-left: 2%;
}
.filter-price button {
  width: 60px;
  border: none;
  margin-left: 2%;
}
.filter-color button {
  width: 25px;
  height: 25px;
  border: none;
  margin: 0 2% 2% 0;
  transition: all 0.2s linear;
}
.rainbow {
  background-image: linear-gradient(to right, red, yellow, blue, green, black);
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.black {
  background-color: black;
}
.active-color {
  border-radius: 50%;
}
.activeprice {
  background-color: rgb(45, 184, 45);
  color: white;
}
.spin {
  position: fixed;
  top: 40%;
}
.blur {
  opacity: 0.2;
}
