.shop-h1 {
  background-image: url("../../img//breadcrumb.jpg");
  background-repeat: none;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 2%;
}
.filter-catagories button {
  border: none;
  margin: 0 2% 2% 0;
  padding: 0.5% 3%;
  border-radius: 5px;
}
.shopcatactive {
  background-color: rgb(45, 184, 45);
  color: white;
}
.filter-price input {
  width: 50px;
  border: 0.5px solid rgba(0, 0, 0, 0.349);
  outline: 0.5px solid rgba(0, 0, 0, 0.349);
  margin-bottom: 2%;
  border-radius: 5px;
  padding-left: 2%;
}
.filter-price button {
  width: 60px;
  border: none;
  border-radius: 5px;
  margin-left: 2%;
}
.filter-color button {
  width: 25px;
  height: 25px;
  border: none;
  margin: 0 2% 2% 0;
}
.rainbow {
  background-image: linear-gradient(to right, red, yellow, blue, green, black);
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.black {
  background-color: black;
}
.active-color {
  border-radius: 50%;
}
.activeprice {
  background-color: rgb(45, 184, 45);
  color: white;
}
