.h-input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 5px;
}
.banner {
  background-image: url("../../../img/hero/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fresh {
  color: rgb(74, 168, 74);
  letter-spacing: 3px;
}
.title {
  font-weight: 700;
}
.search {
  background-color: rgb(74, 168, 74);
}
.bannersliderdiv {
  position: relative;
  padding: 0 5px;
}
.bannersliderbtn {
  position: absolute;
  top: 80%;
  padding: 2%;
  width: 78%;
  border: none;
  margin: 0 10%;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: white;
  color: rgb(74, 168, 74);
  border-radius: 5px;
}
