.main-nav,
.canvas-head {
  background-color: rgba(128, 128, 128, 0.144);
}
.navitem {
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 5px 15px;
}
.navitem:hover {
  background-color: rgba(128, 128, 128, 0.199);
  color: rgb(74, 168, 74);
}
.cart {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.cart:hover {
  color: rgb(74, 168, 74);
}
.profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
