.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}
.buttons button {
  width: 95%;
  text-align: left;
  display: block;
  margin: 5px auto;
  border: none;
  background-color: rgb(48, 204, 48);
  padding: 4px 0;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.buttons i {
  margin: 0 5px;
}
.edit-profile {
  border: none;
  background-color: white;
  color: rgb(35, 197, 35);
  font-weight: 600;
}
.my-p-details span {
  font-weight: 600;
}
.success h1 {
  font-size: 80px;
}
.success {
  color: rgb(45, 185, 45);
}
.dashboard-color button {
  width: 30px;
  height: 30px;
  border: none;
  margin: 2px;
}
.dashboard-catagory button {
  border: none;
  margin: 2px;
}
.actived {
  border-radius: 50%;
}
.cactived {
  background-color: rgb(51, 204, 51);
  color: white;
}
