.mainapp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.allbtn {
  width: 150px;
  height: 30px;
  margin: auto;
  background-color: rgb(74, 168, 74);
  color: white;
  border: none;
}
.allbtn:hover {
  background-color: rgb(35, 114, 35);
}
hr {
  width: 5%;
  padding: 2px;
}
.p-single {
  position: relative;
  width: 100%;
}
.p-img {
  width: 200px;
  height: 200px;
  transition: all 0.5s linear;
}
.p-effect {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 50%;
  width: 100%;
  transition: all 0.5s linear;
  opacity: 0;
  visibility: hidden;
}
.p-effect p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: white;
  color: black;
  margin: 0 2%;
  border-radius: 50%;
}
.p-effect p:hover {
  background-color: rgb(74, 168, 74);
  color: white;
}
.p-main:hover .p-effect {
  visibility: visible;
  opacity: 1;
}
.p-main:hover .p-img {
  opacity: 0.3;
}
.name {
  margin: 1% 0;
  letter-spacing: 2px;
  font-weight: 700;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
