.mainapp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.allbtn {
  width: 150px;
  height: 30px;
  margin: auto;
  background-color: rgb(74, 168, 74);
  color: white;
  border: none;
}
.allbtn:hover {
  background-color: rgb(35, 114, 35);
}
hr {
  width: 5%;
  padding: 2px;
}
